!     _  __
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  )
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/
!

*background: #060B15
*foreground: #E6E6E6
*color0:     #24262E
*color1:     #DD5560
*color2:     #6EC4B3
*color3:     #FABF61
*color4:     #679BF4
*color5:     #B180C6
*color6:     #5DB8E9
*color7:     #E6E6E6
*color8:     #198388
*color9:     #EC0101
*color10:    #51B8A3
*color11:    #F9A620
*color12:    #4081F2
*color13:    #9756B3
*color14:    #28A1E2
*color15:    #FFFFFF

Xft.dpi:284
rofi.dpi: 192
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
*Xcursor.size: 92
